
@model css.Data.Models.Tbl_EmailContents

<div id="form-EmailEditModal" tabindex="-1" role="dialog" class="modal fade modal-colored-header">
    <div   id ="modal-unload1" class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Edit Email </h3>
            </div>
            <div class="modal-body form">
                <div class="col-sm-12">                      
                    <div class="center">
                        <div class="panel panel-default">                           
                            <div class="panel-body">
                                <form id="EditEmailContents" class="form-horizontal">
                                    <input type="hidden" id="hdnEmailCode" name="hdnEmailCode" value="@Model.Email_Code" />

                                    <div class="form-group">
                                        <label for="rma" class="col-sm-2 control-label">Subject:</label>
                                        <div class="col-sm-10">
                                            <input id="subject" name="subject" type="text" value="@Model.Subject" placeholder="User name" class="col-sm-5 form-control" required disabled>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="rma" class="col-sm-2 control-label">RMA:</label>
                                        <div class="col-sm-10">
                                            <input id="rma" name="rma" type="text" value="@Model.RMA" placeholder="User name" class="col-sm-5 form-control" required disabled>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cmpuserpsw" class="col-sm-2 control-label">Reference:</label>
                                        <div class="col-sm-10">
                                            <input id="Reference" name="Reference" type="text" value="@Model.Reference" placeholder="Reference" class="form-control" required disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="date" class="col-sm-2 control-label">Date:</label>
                                        <div class="col-sm-10">
                                            <input id="date" type="text" placeholder="Date" value="@Model.Date" class="form-control" required disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="greeting" class="col-sm-2 control-label">Greeting Text:</label>
                                        <div class="col-sm-10">
                                            <input id="greeting" name="greeting" type="text" placeholder="Greeting " value="@Model.Dear" class="form-control" required disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="body" class="col-sm-2 control-label">Body:</label>
                                        <div class="col-sm-10">
                                            <div class="send-ticket">
                                                <textarea rows="3" id="body" name="body" type="text" placeholder="body " class="form-control"> @Model.Email_text</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Footer" class="col-sm-2 control-label">Footer:</label>
                                        <div class="col-sm-10">
                                            <input id="Footer" name="Footer" type="text" placeholder="Footer " value="@Model.Footer" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Signature" class="col-sm-2 control-label">Signature:</label>
                                        <div class="col-sm-10">
                                            <input id="Signature" name="Signature" type="text" placeholder="Signature" value="@Model.Signature" class="form-control" required>
                                        </div>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success md-close">Cancel</button>
                <button id="btnEditemailUpdate" type="button"  class="btn btn-success">Update</button>
            </div>
        </div>


    </div>


    <script type="text/javascript">

        // Because this popup is loaded dynamically based on dropdown selection.
        // Therefore, this event was not registering when I put it in TypeValues.js file.
        // That's why I have put it here.
        $("#form-EmailEditModal").on("hidden.bs.modal", function () {    
            $("#editPopupPlaceHolder").html("");
        });

        $('body').on('hidden.bs.modal', function () {
            if ($('.modal.in').length > 0) {
                $('body').addClass('modal-open');
                $('.modal').css('overflow-y', 'auto');
            }
        });

        $('#btnEditemailUpdate').on('click', function (e) {
            var emailcode = "", body = "", footer = "";
            if ($('#hdnEmailCode').val() != "") {
                emailcode = $('#hdnEmailCode').val();
            }
            debugger;
            body = $("#body").val();
            footer = $("#Footer").val();

            //if (emailcode == "Yes") {
            //    body = $("#body").val();
            //    footer = footer.split(':')[0];
            //}
            //else {

            //    if (emailcode == "Evaluation") {
            //        //var x = (txtBody.Text).Split('-');
            //        //EmailContent.Email_text = txtBody.Text;
            //    }
            //    else {
            //        var x = body.split('\n');
            //      //  body = x[0].Split(':')[0] + ":" + x[1];
            //    }
            //}



            var BasicInfo = {
                "Email_Code": $('#hdnEmailCode').val(),
                "Subject": $('#subject').val(),
                //"RMA": $('#rma').val(),
                //"Reference": $('#Reference').val(),
                //"Date": Date.now(),
                //"Dear": $("greeting").val(),
                "Email_text": body,
                "Footer": footer,
                "Signature": $("#Signature").val(),
                "Company_ID": $('#hdncompanyID').val()
            };

            var apiurl = "";
            var calltype = "";

            apiurl = 'api/_Email/UpdateEmailContent';
            calltype = 'PUT';
            debugger
            $.ajax({
                type: calltype,
                url: WebServiceUrl + apiurl,
                data: JSON.stringify(BasicInfo),
                contentType: "application/json;charset=utf-8",
                success: function (result, status, xhr) {
                    debugger
                    alert("Email Content Updated!");

                },
                error: function (xhr, status, error) {
                    debugger
                    if (error != "") {
                        alert("Email Content Update Failed!");
                    }
                }
            });
        });
     
    </script>
</div>