@model css.Shared.ViewModels.ResetPasswordModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sequware</title>
    <link rel="stylesheet" type="text/css" href="../../assets/lib/stroke-7/style.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/jquery.nanoscroller/css/nanoscroller.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />
    <link rel="icon" href="~/assets/img/logo-full ico.ico" type="text/css" />
</head>
<body class="am-splash-screen">
    <div class="am-wrapper am-login">
        <div class="am-content">
            <div class="main-content">
                <div class="login-container">
                    <div class="panel panel-default">
                        <div class="panel-heading"><img src="../../assets/img/Logo mockup_1.png" alt="logo" width="150px" height="100px" class="logo-img"><span>Bitte geben Sie Ihr neues Passwort ein..</span></div>
                        @{
                            if (@ViewBag.LoginMessage != null)
                            {
                                <div id="a1" role="alert" class="alert alert-danger alert-icon alert-border-color alert-dismissible">
                                    <div class="icon"><span class="s7-close-circle"></span></div>
                                    <div class="message">
                                        <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button> @ViewBag.LoginMessage
                                    </div>
                                </div>}
                        }
                                <div class="panel-body">
                                    @using (Html.BeginForm("ChangePassword", "ForgotPasswordDE", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                    if (@ViewData.ModelState.IsValid)
                                    {
                                        if (@ViewBag.Name != null)
                                        {
                                            <b>
                                                Name : @ViewBag.Name<br />
                                                Email : @ViewBag.Email
                                            </b>
                                        }
                                    }
                                            <div class="login-form" data-parsley-validate="" novalidate="">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon s7-lock"></i></span>
                                                        <input name="newpassword" parsley-trigger="change" required="" id="newpassword" type="password" placeholder="Passwort" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon s7-lock"></i></span>
                                                        <input name="ConfirmPassword" parsley-trigger="change" required="" id="ConfirmPassword" type="password" placeholder="Neues  Passwort" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.HiddenFor(a => a.ResetCode)
                                                </div>
                                                <div class="form-group login-submit">
                                                    <button data-dismiss="modal" type="submit" class="btn btn-primary btn-lg">einreichen</button>
                                                </div>

                                            </div>
                                }
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js" type="text/javascript"></script>
    <script src="../../assets/js/main.js" type="text/javascript"></script>
    <script src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
        });
    </script>
</body>
</html>
